Problem 1: Unique Words in a Sentence

In [3]:
sentence = "python is easy and python is powerful"
words = sentence.lower().replace('.', '').split()
unique_words = set(words)

print(f"Count of unique words: {len(unique_words)}")
print(f"Unique words: {unique_words}")

Count of unique words: 5
Unique words: {'easy', 'python', 'and', 'is', 'powerful'}

Problem 2: Highest Salary from Employee Data

In [4]:
employee_salaries = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000,
}

In [8]:
highest_salary = 0
highest_paid_employee = ""

for employee, salary in employee_salaries.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_paid_employee = employee

print(f"Highest Salary: {highest_paid_employee}-{highest_salary}.")

Highest Salary: Ravi-75000.

Problem 3: Find Maximum and Minimum Values

In [12]:
numbers = [45, 22, 89, 10, 66]
if not numbers:
    print("empty list")
else:
    max_value = numbers[0]
    min_value = numbers[0]

    for number in numbers:
        if number > max_value:
            max_value = number
        if number < min_value:
            min_value = number

    print("List:", numbers)
    print(f"Max: {max_value}")
    print(f"Min: {min_value}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [14]:
product_prices = [450, 1200, 899, 1500, 300]
price_threshold = 1000
products_above_threshold = 0

for price in product_prices:
    if price > price_threshold:
        products_above_threshold += 1

print(f"Products above {price_threshold}: {products_above_threshold}")

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [17]:
attendance = ["P", "P", "A", "P", "P"]
total_days = len(attendance)
present_days = attendance.count("P")

if total_days > 0:
    attendance_percentage = (present_days / total_days) * 100
    print(f"Attendance percentage: {attendance_percentage:.2f}%")
else:
    print("Attendance list is empty. Cannot calculate percentage.")

Attendance percentage: 80.00%

Problem 6: Remove Duplicate Phone Numbers

In [20]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_phone_numbers = set(phone_numbers)
print(f"Unique phone numbers: {unique_phone_numbers}")

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [21]:
input_string = "hello world"
char_frequency = {}

for char in input_string:
    if char.isalnum():
        char_frequency[char] = char_frequency.get(char, 0) + 1

print(f"Character frequencies in '{input_string}':")
for char, count in char_frequency.items():
    print(f"'{char}': {count}")

Character frequencies in 'hello world':
'h': 1
'e': 1
'l': 3
'o': 2
'w': 1
'r': 1
'd': 1

Problem 8: Convert List to Tuple

In [25]:
sample_list = [10,20,30,40,50]
sample_tuple = tuple(sample_list)

print(f"Original List: {sample_list}")
print(f"Converted Tuple: {sample_tuple}")

Original List: [10, 20, 30, 40, 50]
Converted Tuple: (10, 20, 30, 40, 50)

Problem 9: Check if a Key Exists in a Dictionary

In [29]:
employee_data = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "employee": True
}
key_to_check = "employee"

if key_to_check in employee_data:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'employee' exists in the dictionary.

Problem 10: Calculate Average Marks

In [31]:
marks = [85, 70, 90, 65, 80, 75]
if not marks:
    print("The list of marks is empty. Cannot calculate average.")
else:
    total_marks = sum(marks)
    number_of_subjects = len(marks)
    average_marks = total_marks / number_of_subjects

    print(f"Average Marks: {average_marks:.2f}")

Average Marks: 77.50